@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Boogaloo&family=Bubblegum+Sans&family=Flavors&family=Fredoka+One&family=Rye&display=swap");

h1 {
  font-family: Barrio;
  font-size: 10vw;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: Bubblegum Sans;
  color: #4d089a;
}
